@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #38C4CA;
}