@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* Global */
body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: 264px;
    width: 50%;
}

a {
    text-decoration: none;
}

/* Header */
header {
    font-family: 'Open Sans', sans-serif;
}

header a:visited {
    color: #ffffff;
}

header a:link {
    color: #ffffff;  
}

header a:active {
    color: #ffffff;
}

header .container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #38C4CA;
    height: 80px;
    color: #fff;
}

header #menu-icon, header #branding, header #search-box {
    float: left;
}

header #menu-icon {
    margin-top: 25px;
    margin-left: 48px;
}

header #menu-icon .fa-bars {
    font-size: 26px;
}

header #branding {
    margin-left: 26px;
}

header #search-box {
    margin-left: 38px;
}

header #search-box input[type="text"] {
    padding: 15px;
    font-size: regular 20pt;
    width: 700px;
    color: #9b9b9b;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    
}

header #branding h1 {
    font-size: regular 32pt;
    margin-top: 15px;
}

header nav {
    float: right;
    margin-right: 65px;
    margin-top: 25px;
}

header ul {
    margin: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 0;
    font-size: regular 20pt;
    color: #fff;
}

header nav .login {
    margin-top: 5px;
}

header li .round {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 26px;
}

header li .fa-user {
    padding-top: 5px;
    padding-left: 8.5px;
    color: #000;
    font-size: 26px;
}

header li .fa-bell {
    font-size: 26px;
    margin-top: 5px;
    color: #000;
}
header .search-box {
    margin-top: 30px;
    margin-left: 30px;
}

/* breadcrumb */
section#breadcrumb ul {
    margin-top:18px;
    margin-bottom: 24px;
}

section#breadcrumb li {
    display: inline;
    padding: 10px;
    font-size: regular 20pt;
    color: #b2b0b0;
}

section#breadcrumb .right {
    color: #b2b0b0;
}

/* main */
section#main h2{
    font-size: bold 36pt;
    margin-bottom: 34px;
}

section#main p {
    font-size: regular 24pt;
    margin-bottom: 28px;
}

section#main .button {
    width: 330px;
    height: 64px;
    background: #5f9be1;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
}

section#main label {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 0;
    position: relative;
    background: #fbfbfb;
    color: #545454;
    font-size: regular 20pt;
    border: solid 1px #545454;
    border-radius: 20px;
    cursor: pointer;
}

section#main label:hover {
    background: #38C4CA;
    color: #fbfbfb;
}

section#main input[type=checkbox]:checked + label {
    background: #38C4CA;
    color: #fbfbfb;
}

section#main input[type=checkbox] {
    display: none;
}

section#main #category {
    margin-bottom: 30px;
}

section#main input[type="submit"]:hover {
    background: #545454;
    cursor: pointer;
}

section#main .list-category {
    display: flex;
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
}

section#main .list-category ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 20px;
}

section#main .chat {
    /* top: 800px; */
    /* float: right; */
    /* position: fixed; */
    width: 60px;
    height: 60px;
    background: #178fdd;
    border: solid 1px #0b5789;
    float: right;
    margin-top: 200px;
    margin-right: 65px;
    margin-bottom: 40px;
    border-radius: 50%;
}

section#main .fa-comment {
    color: #fff;
    padding-left: 13px;
    padding-top: 13px;
    font-size: 35px;
}